#figura{

    
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 100px;
    width: 80px;
    height:80px
    


}

/*.bot1{
    position: absolute;
    top: 15px;
    left: 100px;
}

